@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.manrope.font-thin,
.raleway.font-thin {
  font-weight: 100;
}

.manrope.font-extralight,
.raleway.font-extralight {
  font-weight: 200;
}

.manrope.font-light,
.raleway.font-light {
  font-weight: 300;
}

.manrope.font-normal,
.raleway.font-normal {
  font-weight: 400;
}

.manrope.font-medium,
.raleway.font-medium {
  font-weight: 500;
}

.manrope.font-semibold,
.raleway.font-semibold {
  font-weight: 600;
}

.manrope.font-bold,
.raleway.font-bold {
  font-weight: 700;
}

.manrope.font-extrabold,
.raleway.font-extrabold {
  font-weight: 800;
}

.manrope.font-black,
.raleway.font-black {
  font-weight: 900;
}

.nav-link {
  font-weight: 600;
  color: #9AA7C9;
}

.nav-link.active {
  color: #61F8D5;
}

.profile-img::after {
  content: "";
  position: absolute;
  top: 7%;
  left: 7%;
  width: 100%;
  height: 100%;
  border: 5px solid #61f8d5;
  z-index: -1;
}

h1 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  letter-spacing: 4%;
}

h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 2%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }
}