:root {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0A192F;
  /* #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}


.tech-item {
  position: relative;
  right: -15px;
}

.tech-item::before {
  /* add bullet.png image before element */
  content: url("/images/bullet.png");
  position: absolute;
  left: -15%;
  top: 10%;
}

@media (min-width: 768px) {
  .tech-item::before {
    /* add arrow_right_alt.png image before element */
    content: url("/images/arrow_right_alt.png");
    position: absolute;
    left: -15%;
    top: unset;
  }
}

a:not(.block-text):not(.nav-link) {
  color: #61F8D5;
}